.header {
  display: flex;
  flex-direction: column; /* 로고와 메뉴를 세로로 정렬 */
  align-items: start;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  background-color: #1f2937;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 텍스트 색상 유지 */
  margin-bottom: 1rem; /* 로고와 메뉴 간격 */
}

.logo img {
  width: 50px;
}

.nav-menu {
  display: flex;
  gap: 2rem; /* 메뉴 간 간격 */
}

.nav-link {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #374151; /* 호버 시 배경색 변경 */
}
