/* 역할군 아이콘 스타일 */
.role-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.role-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.role-icon-container:hover .role-icon {
  transform: scale(1.1);
  opacity: 0.9;
}

.role-icon-container.selected .role-icon {
  opacity: 1;
  transform: scale(1.2);
}

.role-icon {
  width: 50px;
  height: 50px;
  opacity: 0.6;
}

.role-label {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #333;
  text-align: center;
}

/* 챔피언 그리드 스타일 */
.champion-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* 카드 크기 조정 */
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto; /* 세로 스크롤 활성화 */
  max-height: 400px; /* 최대 높이 제한 (필요시 조정) */
  scrollbar-width: thin;
}

.champion-grid::-webkit-scrollbar {
  width: 8px;
}

.champion-grid::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.champion-grid::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
